name: Build and Test

on:
  push:
    branches: [ master ]
    paths:
      - 'MathInterpreter/**'
      - 'MathInterpreter.console/**'
      - 'MathInterpreter.Tests/**'
  pull_request:
    branches: 
      - "**"

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Test interpreter
      # We are directly running dotnet test without dotnet build because this automatically builds the code.
      run: dotnet test
      working-directory: './MathInterpreter.Tests/'
    - name: Test console
      run: dotnet build --configuration ${{ matrix.configuration }}
      working-directory: './MathInterpreter.console/'
      if: ${{ success() }}
