name: Build

on:
  push:
    branches: [ master ]
    paths:
      - 'MathInterpreter/**'
      - 'MathInterpreter.console/**'
      - 'MathInterpreter.Tests/**'
  pull_request:
    branches: 
      - "**"

jobs:
  Build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Test interpreter
      run: dotnet test
      working-directory: './MathInterpreter.Tests/'
    - name: Test console
      run: dotnet build
      working-directory: './MathInterpreter.console/'
